@media screen and (max-width: 795px) {
  .cardHeader {
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
  }
  .sort {
    width: 400px;
    justify-content: space-between;
    margin: auto;
  }
  .counters {
    width: 400px;
    margin: auto;
    gap: 20px;
  } 
}

@media screen and (max-width: 740px) {
  .cardWrapper {
    width: 600px;
  }
}
@media screen and (max-width: 640px) {
  .cardWrapper {
    width: 350px;
    justify-content: center;
  }
}
@media screen and (max-width: 434px) {
  .sort {
    width: 300px;
  }

  .cardWrapper {
    margin: 15px auto;
  }

  .counters {
    width: 300px;
    height: 120px;
    margin: 25px auto;
  }
}