.allCards {
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: black;
  color: #fff;
  width: 250px;
  margin: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}